/* Contact Page */
*{
	box-sizing: border-box;
}

body{
/*	background-color: #eaecef;*/
	background-color: #1b3f4d;
}
h1{
	margin-bottom: 35px;
	font-size: 30px;
}
.instructions{
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 85%;
	font-size: 24px;
}
p{
	margin-top: 5px;
	margin-bottom: 5px;
}
.bigContainer{
	border: 100px;
	border-style: groove;
}
.container{
	background-color: #64879a;
	height: 800px;
	width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	vertical-align: middle;
	border: 100px;
	border-style: groove;
	
}
.contactForm{
	margin-top: 50px;
}
.label{
	float: left;
	padding-right: 10px;
	width: 33%;
}
.input{
	width: 65%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left: 50px;
	margin-bottom: 5px;
	display: block;
	resize: none
	vertical-align: middle;
	background-color: #64879a;
	border-color: black;
}
::-webkit-input-placeholder { 
  color: white;

}
.fields{
	max-width: 400px;
	margin: auto;
}
.radioButtons{
	margin-top: 10px;
	margin-bottom: 10px;
}
.submitButton{
	margin: 15px;
	border-radius: 15%;
}
.footer{
	height: 40px;
	background-color: green;
	border-top-width: 3px;
	border-color: white;
	margin-top: 0px;
}